.container
  %p#notice= notice
  .row
    .col-md-9
      .panel.panel-default
        .panel-heading
          %h1
            = @job.title
      
        .panel-body
  
          = simple_format @job.description
      
          %p
          %strong
            Closing Date
            = @job.close_date
        
        .panel-footer
          .btn.btn-primary.btn-lg
            Apply Now
    .col-md-3


